<div align="center" id="middle">
    <div class="newuser_box">
<h1>Intrested Users</h1>

<table border="1">
  <tr>
    <th>Movie Name</th>
    <th>Movie Id</th>
    <th>User Id</th>
    <th>User name</th>
    <th>Gender</th>
    <th>Birthday</th>
    <th>Location</th>
    <th>Theater</th>
    <th>City</th>
    <th>Time</th>
    <th>contact no</th>
  </tr>

<% @interested_users.each do |user|%>
  <tr>
    <td> <%= user.movie_name %> </td>
    <td> <%= user.movie_id %> </td>
     <td> <%= user.user_id %></td>
    <td> <%= user.user_name %></td>
    <td> <%= user.gender %></td>
    <td> <%= user.birthday %></td>
    <td> <%= user.location %></td>
    <td> <%= user.theater%></td>
    <td> <%= user.city %></td>
    <td> <%= user.time %></td>
    <td> <%= user.contact_no %></td>
  </tr>
<% end %>


</table>

<br />

</div>
</div>